.imagen {
  max-width: 100%;
}
.color-nav {
  background-image: url("../Assets/hojas2.jpg");
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
}

a {
  cursor: pointer;
}
.alerta {
  font-weight: 700;
}
body {
  background-color: #f9ffda;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}
.modal-contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.img-carrito {
  width: 200px;
  padding: 20px;
}
.modal-content {
  background-color: #e3d8d6;
}
.parrafo {
  font-weight: 900;
  font-style: italic;
}
#precioTotal {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.boton {
  opacity: 0;
}

.botonWomenMain {
  background-color: #38b972;
  /*background-color: #fb5a00;*/
  color: #fffefe;
  /*border-radius: 5em;*/
  text-transform: uppercase;
  margin-bottom: 2em;
  border-style: none;

  margin-left: 4em;
  display: block;
  width: 15em;
  height: 3em;
  /*border-style: ridge;*/
}

#comprando {
  padding-top: 0.8em;
}
