#registro {
  margin: 5em 0em 0em 0em;
  align-content: center;
  min-width: auto;
}

.form-group {
  margin: 2em;
}

/*#terminos {
  padding: 0em 11em 11em 11em;
}*/

img {
  max-width: 40em;
  max-height: 60em;
}
.color-nav{
  background-color: #76cc2b;
}
.bg-color{
  background-image: url("../Assets/hojas.jpg");
} 