body {
  background-color: #f5f3e6 !important;
}
main {
  /*text-align: center;*/
  height: 100vh;

  padding-top: 5em;
}

form h2, #recuperapass {
  text-align:center;
  text-transform: uppercase;
}

#mensajerecupera{
  text-align:left;
  
}

#separador {
  height: 100vh;
}

#imagenForm {
  max-width: 100%;
  max-height: 100em;
}
#registro {
  margin: 5em 0em 0em 0em;
  align-content: center;
  min-width: auto;
}

#tituloMain h2{
  text-align: center;
  text-transform: uppercase;
}

.form-group {
  margin: 2em;
}

#terminos {
  margin-top: 2em;
  min-width: none 20em;
}

.contBoton {
  display: flex;
  justify-content: center;
}

.botonMain {
  /*background-color: #1ebd53;*/
  background-color: #fb5a00;
  color: #000;
  border-radius: 5em;
  text-transform: uppercase;
  margin-top: 2em;
  display: block;
  min-width: 20em;
  min-height: 3em;
  border-style: ridge;
}

button:hover{
  background: #38b972;
  color: #fff;
}

.form-group input{
  border: none;
  border-bottom: 1px solid #6ddf0f;
  background-color: #f5f3e6;
  border-radius: 0;
  
}

#checkcheck{
  border-radius: 1;
}

#mensajeRecuperacion {
  /*background-color: rgb(53, 168, 101);*/
  color: #000;
  font-size: 1em;
  min-height: 6em;
  margin-top: 2em;
}

#informacionUsusario {
  padding-top: 3em;
  line-height: 3em;
}
