.color-nav{
  background-image: url("../Assets/hojas2.jpg");
} 

  .hombre {
    position: relative;
    max-width: 80rem;
    margin: auto;
  }
  
  .title{
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
  }

  .sub-title{
    margin-top: 4rem;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin-left: 2rem;
  }
  
  .bg-color{
    background-image: url("../Assets/hojas.jpg");
  }